.contenedor {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    font-size: xx-large;

}

body {
    background-color: black;
    margin: 0;
}

.item {
    background-color: #0078a6;
    color: white; 
    margin: 0;  
}
